@charset "UTF-8";
@use 'set/index' as *;
// Radius
.radius-r0 {border-radius: 0 !important;}
.radius-sm {border-radius: var(--radius--sm) !important;}
.radius-lv1 {border-radius: var(--radius--lv1) !important;}
.radius-lv2 {border-radius: var(--radius--lv2) !important;}
.radius-lv3 {border-radius: var(--radius--lv3) !important;}
.radius-lv4 {border-radius: var(--radius--lv4) !important;}
.radius-lv5 {border-radius: var(--radius--lv5) !important;}
.radius-lv6 {border-radius: var(--radius--lv6) !important;}
.radius-rnd {border-radius: 50% !important;}

// Bg Color
.bg {
    &-primary {background-color: var(--color-primary) !important;}
    &-white {background-color: #fff !important;}
    &-f7 {background-color: #f7f7f7 !important;}
    &-fa {background-color: #fafafa !important;}
}// bg

.overflow{
    &-hidden {overflow: hidden;}
}// overflow

// Text Color
.fc {
    &-primary {color: var(--color-primary) !important;}
    &-red {color: var(--color-second_red--lv3) !important;}
    &-999 {color: var(--color-gray--lv6) !important;}
    &-666 {color: var(--color-gray--lv7) !important;}
    &-111 {color: var(--color-gray--lv9) !important;}
    &-a9 {color: #a9a9a9 !important;}
    &-placeholder {color: var(--color-gray--lv5) !important;
        span {color: inherit !important;}
    }
}// bg

// text deco
.tx-uline {text-decoration: underline !important;}
// 여백용 강제 클래스
@include md-spaceTemp();
// 넓이값 강제 클래스
@include md-widthTemp();
// 높이값 강제 클래스
@include md-heightTemp();
// 블라인드
.blind {
    @include md-blind();
}// blind
// 말줄임 처리
.ellipsis {
    &-line--1 { @include md-ellipsis(1); }
    &-line--2 { @include md-ellipsis(2); }
    &-line--3 { @include md-ellipsis(3); }
    &-line--4 { @include md-ellipsis(4); }
}// ellipsis

// Padding
.justify-space-def {
    padding-left: var(--padding-justify-def);
    padding-right: var(--padding-justify-def);
}// justify-space-def

// List
.list {
    &-bl {}// li

    &-bar {}// list-bar
}// list

.position {
    z-index: 10;

    &-sticky {
        flex-shrink: 0;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }// sticky

    &-rel {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }// relative

    &-abs {
        position: absolute;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }// absolute

    &-pol0 {
        left: 0;
    }
}// position

.va {
    &--top {vertical-align: top;}
    &--mid {vertical-align: middle;}
    &--bottom {vertical-align: bottom;}
    &--base {vertical-align: baseline;}
}// va

// 박스 크기 고정
.shrink {
    &-y {flex-shrink: 1 !important;}
    &-n {flex-shrink: 0 !important;}
}// flex-shrink

// 박스 크기 가변
.grow {
    &-y {flex-grow: 1 !important;}
    &-n {flex-grow: 0 !important;}
}// flex-grow

// 박스 정렬 : row = 중앙정렬 , column = 좌우정렬
.align {
    &-start {align-items: flex-start;}
    &-center {align-items: center;}
    &-end {align-items: flex-end;}
    // 자식 요소
    &__self-start {align-self: flex-start;}
    &__self-center {align-self: center;}
    &__self-end {align-self: flex-end;}
}// align-items (flex)

// 박스 정렬 : row = 좌우정렬 , column = 중앙정렬
.justify {
    &-start {justify-content: flex-start;}
    &-center {justify-content: center;}
    &-end {justify-content: flex-end;}
    &-space-a {justify-content: space-around;}
    &-space-b {justify-content: space-between;}
    &-space-e {justify-content: space-evenly;}
}// justify-content (flex)

// 글자 정렬
.ta {
    &-left {text-align:left !important;}
    &-center {text-align:center !important;}
    &-right {text-align:right !important;}
    &-justify {text-align:justify !important;}
}// ta

// 글자 색
.fc {
    &-primary {color: var(--color-primary--lv5) !important;}
    &-red {color: var(--color-second_red--lv3) !important;}
    &-mint {color: var(--color-second_mint--lv2);}
    &-yellow {color: var(--color-second_yellow--lv2);}
    &-333 {color: var(--color-gray--lv8) !important;}
}// fc

// 글자 굵기
.fw {
    &-400 {font-weight: 400 !important;}
    &-500 {font-weight: 500 !important;}
    &-600 {font-weight: 600 !important;}
    &-700 {font-weight: 700 !important;}
    &-800 {font-weight: 800 !important;}
    &-900 {font-weight: 900 !important;}
}// fw

// 넓이
.col {
    &--block, &--2, &--3 {display:block;box-sizing:border-box;}
    &--block {width: 100% !important;}
    &--1-5 {width: calc(100% / 1.5) !important;}
    &--2 {width: calc(100% / 2) !important;}
    &--3 {width: calc(100% / 3) !important;}
}// col

// 외곽선
.border {
    &-top {border-top: fn-line(lineTop);}
    &-bottom {border-top: fn-line(lineBottom);}
    &-mid {border-top: fn-line(lineMid);}
    &-dash {border-top: fn-line(lineDash);}
    &-none {border: 0 none !important;}

    &-weight--10 {
        border-width: md-rem(10);
    }

    &-color--f7{
        border-color: #f7f7f7 !important;
    }
}// border

// 좌우 기본 여백
.justify-spacing {
    // 컨텐츠 좌우 기본여백
    &-def {
        padding-left:var(--padding-justify-def);
        padding-right:var(--padding-justify-def);
    }// justify-spacing-def
    &-btn {
        padding-left: var(--padding-justify-btn);
        padding-right: var(--padding-justify-btn);
    }
}// justify-spacing
.box-padding {
    &--type1 {
        padding-top: var(--padding-box--type1);
        padding-bottom: var(--padding-box--type1);

        &_top {padding-top: var(--padding-box--type1);}
        &_bottom {padding-bottom: var(--padding-box--type1);}
    }
    &--type2 {
        padding-top: var(--padding-box--type2);
        padding-bottom: var(--padding-box--type2);

        &_top {padding-top: var(--padding-box--type2);}
        &_bottom {padding-bottom: var(--padding-box--type2);}
    }
    &--type3 {
        padding-top: var(--padding-box--type3);
        padding-bottom: var(--padding-box--type3);

        &_top {padding-top: var(--padding-box--type3);}
        &_bottom {padding-bottom: var(--padding-box--type3);}
    }
}


// 메인 버튼 박스 여백
.button-box-spacing {
    padding: 0 var(--padding-justify-btn) var(--padding-justify-def);
    background-color: #fff;
}// button-box-spacing
.margin-auto {margin: 0 auto;}